Debug/*
Release/*
x64/*
x86/*
.vs/*

2 семестр/1/.vs/lab1/v16/
2 семестр/1/Debug/
2 семестр/1/x64/Debug/

2 семестр/2/.vs/lab2/v16/
2 семестр/2/Debug/
2 семестр/2/x64/Debug/

2 семестр/3a/.vs/lab3a/v16/
2 семестр/3a/Debug/
2 семестр/3a/x64/Debug/

2 семестр/3b/.vs/lab3b/v16/
2 семестр/3b/Debug/
2 семестр/3b/x64/Debug/

2 семестр/4a/.vs/lab4a/v16/
2 семестр/4a/Debug/
2 семестр/4a/x64/Debug/

2 семестр/4b/.vs/lab4b/v16/
2 семестр/4b/Debug/
2 семестр/4b/x64/Debug/

2 семестр/4a/lab4a/x64/Debug/
2 семестр/4b/.vs/4b/v16/
2 семестр/4b/lab4b/x64/Debug/
2 семестр/4b/.vs/
