Debug/*
Release/*
x64/*
x86/*
.vs/*

2 sem/1/.vs/lab1/v16/
2 sem/1/Debug/
2 sem/1/x64/Debug/

2 sem/2/.vs/lab2/v16/
2 sem/2/Debug/
2 sem/2/x64/Debug/

2 sem/3a/.vs/lab3a/v16/
2 sem/3a/Debug/
2 sem/3a/x64/Debug/

2 sem/3b/.vs/lab3b/v16/
2 sem/3b/Debug/
2 sem/3b/x64/Debug/

2 sem/4a/.vs/lab4a/v16/
2 sem/4a/Debug/
2 sem/4a/x64/Debug/

2 sem/4b/.vs/lab4b/v16/
2 sem/4b/Debug/
2 sem/4b/x64/Debug/

2 sem/4a/lab4a/x64/Debug/
2 sem/4b/.vs/4b/v16/
2 sem/4b/lab4b/x64/Debug/
2 sem/4b/.vs/

2 sem/6/.vs/lab6/v16/

2 sem/5/.vs/lab5/v16/

2 sem/6/Debug/

2 sem/6/lab6/Debug/

2 sem/6/lab6/x64/Debug/

2 sem/6/x64/Debug/

2 sem/5/lab5/x64/Debug/

2 sem/5/x64/Debug/

2 sem/5/lab5/x64/Release/

2 sem/5/x64/Release/

2 sem/1/.vs/lab1/v16/
